<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page | SMLY Casino</title>
    <link rel="shortcut icon" href="/img/logo/headlogo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header') %>
    <main class="main">
        <section class="section">
            <div class="section__content">
                <div class="section__logo">
                    <div class="section__logoImg">
                        <img class="section__img" src="/img/logo/headlogo2.png" alt="SMLY coin Casino Logo">
                    </div>
                    <span class="section__logoTitle"><strong>SMLY</strong> Casino</span>
                </div>
                <p class="section__p">
                    You won't find any coins here
                </p>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">Error 404</span>
                <div class="section__innerContent">
                    <div class="section__text ">
                        <p>Looks like you either found a hidden page under construction or the link has some typing errors. But fear not you can just click <a href="/">here</a> to return</p>
                        <a href="/" class="section__learnMore">SMLY Casino Home</a>
                    </div>
                    <div class="section__image">
                        <img src="/img/logo/avatarlogo.png" alt="SMLY Gambling Boss">
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('footer') %>
</body>
</html>