<footer class="footer">
    <div class="footer__container">
        <div class="footer__info">
            <div class="footer__rates">
                <span class="footer__subtitle">Smiley Rates</span>
                <span class="footer__rate">1 SMLY <i class="fas fa-exchange-alt"></i> <span class="rate__out">X</span> </span>
                <span class="footer__rate">1 SMLY <i class="fas fa-exchange-alt"></i> <span class="rate__out">X</span> </span>
                <span class="footer__rate">1 SMLY <i class="fas fa-exchange-alt"></i> <span class="rate__out">X</span> </span>
                <span class="footer__rate">1 SMLY <i class="fas fa-exchange-alt"></i> <span class="rate__out">X</span> </span>
            </div>
            <div class="footer__usefullinks">
                <span class="footer__subtitle">Useful Links</span>
            
                <ul class="footer__links">
                    <li><a class="footer__link" href="https://smileyco.in/">SmileyCoin Website <i class="footer__icon fas fa-donate"></i></a></li>
                    <li><a class="footer__link" href="https://wallet.smileyco.in/">SmileyCoin HTML Wallet <i class="footer__icon fas fa-wallet"></i></a></li>
                    <li><a class="footer__link" href="https://tutor-web.net/comp/crypto251.0">Tutor-Web Course <i class="footer__icon fas fa-university"></i></a></li>
                </ul>
            </div>
        </div>
        <span class="footer__disclamer">
            We are not responsible for irresponsible gambling and/or sudden loss of coins
        </span>
    </div>
</footer>
<script src="/scripts/footer.js"></script>