<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page | SMLY Casino</title>
</head>
<body>
    <%- include('header') %>
    <h1>THIS IS INDEX!</h1>
</body>
</html>