<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page | SMLY Casino</title>
    <link rel="shortcut icon" href="/img/logo/headlogo2.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('header') %>
    <main class="main">
        <section class="section">
            <div class="section__content">
                <div class="section__logo">
                    <div class="section__logoImg">
                        <img class="section__img" src="/img/logo/headlogo2.png" alt="SMLY coin Casino Logo">
                    </div>
                    <span class="section__logoTitle"><strong>SMLY</strong> Casino</span>
                </div>
                <p class="section__p">
                    SMLY Casino is the number one casino on the internet that is exclusively intended for the use of Smileycoins og SMLY's. Enjoy the excitement of gambling and the thrill of risking it all while learning and creating opportunities for the educational cryptocurrency to thrive
                </p>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">What is SMLY Casino?</span>
                <div class="section__innerContent">
                    <div class="section__text ">
                        <p>The SMLY Casino works just like other traditional casinos, without having to dress up formal that is. You sign up with the Casino and get a special casino address for your funds and after you win some you can withdraw them</p>
                        <a href="https://smileyco.in/#/about" class="section__learnMore">Learn more about Smileycoins</a>
                    </div>
                    <div class="section__image">
                        <img src="/img/logo/avatarlogo.png" alt="SMLY Gambling Boss">
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">What games are available?</span>
                <div class="section__innerContent">
                    <div class="section__text">
                        <p>There will be a wide variety of our games but we like to keep things simple and so does our wide clientbase. our most popular game is the classical higher or lower game, do you dare to guess? </p>
                        <a href="/signup" class="section__learnMore">Join us now!</a>
                    </div>
                    <div class="section__image section__gameImage">
                        <img src="/img/images/highlower.png" alt="Gunnar King of diamonds">
                    </div>
                </div>
                
            </div>
        </section>
        <section class="section">
            <div class="section__content">
                <span class="section__title">Need a wallet?</span>
                <div class="section__innerContent">
                    <div class="section__text">
                        <p>Smileycoins are stored in wallets. SMLY wallets for Android, iOS, Windows, Linux and MacOS are available for download. See the download page for more information on downloads. In addition to traditional wallets, a HTML5 wallet is available at</p>
                        <a href="https://wallet.smileyco.in" class="section__learnMore">https://wallet.smileyco.in</a>
                    </div>
                    <div class="section__image section__clipart">
                        <img src="/img/clipart/wallet.png" alt="Phone and wallet">
                    </div>
                </div>
                
            </div>
        </section>
    </main>
    <%- include('footer') %>
</body>
</html>