.footer {
    background-color: var(--nav-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    color: white;
    padding: 1em;
}

.footer__container {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.footer__rates{
    display: flex;
    flex-direction: column;
}
.footer__usefullinks, .footer__rates{
    width: 50%;
    box-sizing: border-box;
}
.footer__rate {
    margin: .25em 0;
}
.footer__links, .footer__rate {
    margin-left: 2em;
    height: 100%;
}
.footer__subtitle {
    font-weight: bold;
}
.footer__link {
    cursor: pointer;
    color:white ;
    text-decoration: none;
}
.footer__links li {
    margin: .5em 0;
}
.footer__links li:hover a {
    transition: color 300ms ease-in;
    color: var(--smly-blue);
}
.footer__emphasis {
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}
.footer__disclaimer {
    line-height: 1.5em;
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 537px) {
    .footer__usefullinks, .footer__rates{
        width: 100%;
    }
}