@import "./resets.css";
@import "./FA/all.css";
@import "./header.css";
@import "./footer.css";
@import "./highlow.css";

:root {
    --max-width: 60em;
    --nav-bg: #333333;
    --smly-blue: #66bbe3 ;
}

html {
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}


main {
    /*max-width: var(--max-width);*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding-top: 4em;
}
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.section:nth-of-type(even){
    background-color: #94d6ff;

}

.section:nth-of-type(odd) .section__input{
    background-color:var(--smly-blue);

}
.section:nth-of-type(odd) .section__button{
    background-color:green;


}
.section:nth-of-type(odd) .section__button:hover{
    background-color:var(--nav-bg);
    color: limegreen;

}


.section__content{
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}
.section:first-of-type .section__content{
    max-width: 40em;
}
.section__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.section__logoImg{
    height: 100%;
}
.section__img {
    height: 101px;
    width: 100px;
}

.section__logoTitle {
    font-size: 4rem;
    margin-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.section__logoTitle strong {
    font-weight: bold;
}
.section__p {
    margin-top: 1.5em;
    padding: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.section__title{
    font-size: 2.5rem ;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid black;
    padding: .5em 0;
    margin-bottom: .5em;
}
.section__innerContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}
.section__text{
    line-height: 1.5em;
    font-size: 1.6em;
    padding: .5em;
}
.section__learnMore {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: black;
    font-weight: bold;
}
.section__innerContent .section__text {
    width: 50%;
    box-sizing: border-box;
    
}
.section__image img {
    height: 100%;
}
.section__innerContent .section__image {
    display: flex;
    box-sizing: border-box;
    background-color:white;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
    max-height: 20em;
    max-width: 19.5em;
}
.section__innerContent .section__form {
    display: flex;
    flex-direction: column;
    width: 50%;
    box-sizing: border-box;
    align-items: center;
    padding: 1em;
}
.section__image.section__clipart {
    background-color: transparent;
    width: 50%;
    max-width: unset;
}
.section__image.section__gameImage {
    background-color: transparent;
    width: 50%;
    max-width: unset;
}

.section__label {
    font-weight: bold;
    margin-bottom: .3em;
}
.section__input,.section__button {
    width: inherit;
    height: 2em;
    border: none;
    border-radius: .5em;
    line-height: 2em;
    margin-bottom: 1em;
    font-size: 1em;
}
.section__stats {
    display: flex;
    flex-direction: column;
}
.section__game {
    width: 50%;
}
.section__qr {
    text-align: center;
    display: flex;
    justify-content: center;
    align-self: center;
}

.section__strong {
    font-weight: bold;
}
.section__button{
    cursor: pointer;
    font-weight: bold;
    color: white;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.1);
    background: var(--nav-bg);
}
.section__button:hover {
    transition: all 300ms ease-in;
    color: black;
    background-color: aliceblue;
}
.section__note {
    margin-top: 1em;
    font-size: .8em;
    line-height: 1em;
    font-style: italic;
}
.SMLY__address {
    word-break: break-word;
}

.currency {
    font-weight: bold;
}

.blackjack {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.blackjack__hand {
    display: flex;
    flex-direction: row;
    margin: 2em 0;
    flex-wrap: wrap;
}
.blackjack__handCard.--d2,.blackjack__handCard.--d1{
    width: 50%;
}
.blackjack__handCard.--d3{
    width: 33.33%;
}
.blackjack__handCard.--d4{
    width: 25%;
}
.blackjack__handCard.--d5{
    width: 20%;
}

.blackjack__handCard:nth-of-type(2) {
    margin-left: -2em;
}

.blackjack__img {
    width: 100%;
    height: 100%;
}

.blackjack__handTotal {
    width: 100%;
}


@media only screen and (max-width: 768px) {
    .main{
        padding-top: 7em;
    }

    .section__innerContent .section__text, .section__innerContent .section__image
    ,.section__innerContent .section__form
    {
        width: 100%;
        word-break: break-word;
    }
    .section__image img {
        height: 100%;
        width: 100%;
    }
}
@media only screen and (max-width: 537px) {
    .section__logo {
        flex-direction: column;

        text-align: center;
    }
    .section__logoTitle {
        margin: 0;
    }
}